* {
  box-sizing: border-box;
  font-family: 'Maven Pro', sans-serif;
}

body {
  background-color: #F2F2F2;
  margin: 0%;
  padding: 0%;
  width: 100%;
  text-align: center;
}

#pageNot {
  padding: 250px 100px 0px 100px;
  text-align: center;
}

#notFound {
  padding: 10px 100px 0px 100px;
  text-align: center;
}

#homepage {
  display: flex;
}

#containerLogo {
  height: 100vh;
  width: 50%;
  font-size: 30px;
  border-right: #F58634 solid;
}

#containerLogo img {
  width: 40%;
  margin-top: 30px;
}

aside {
  margin-top: 70px;
  background-position: center;
  width: 50%;
}

h1 {
  margin-top: 0%;
  margin-bottom: 5%;
}

aside h2 {
  margin-bottom: 50px;
  font-size: 40px;
}

aside h4 {
  margin-bottom: 10px;
  margin-top: 80px;
  font-size: 20px;
  text-align: center;
}

button {
  margin-bottom: 5px;
  background-color: transparent;
  width: 210px;
  height: 45px;
  cursor: pointer;
  border: #F58634 2px solid;
  border-radius: 10px;
  font-size: 15px;
  transition: transform .2s ease;
  transform: scale(1.1);
}

.buttonGoogle {
  padding: 10px;
}

.logo-google {
  width: 30px;
  height: 25px;
  float: left;
}

.buttonSignin {
  margin-bottom: 100px;
}

p {
  text-align: justify;
  padding-left: 15%;
  padding-right: 16%;
  margin-top: 0%;
}

#pagRegister {
  display: inline-grid;
  margin: 80px;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
}

#pagRegister label {
  position: relative;
  background-color: transparent;
  height: 30px;
}

#pagRegister input {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
}

.buttonNext {
  position: fixed;
  background-color: #F2CFBB;
  margin-top: 450px;
  width: 200px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
  right: 30px;
}

.buttonNext:hover {
  background-color: #F58634;
  color: white;
}

header {
  position: fixed;
  background-color: #F2CFBB;
  display: block;
  top: 0;
  width: 100%;
  height: 50px;
}

header h1 {
  margin-top: 10px;
}

#backHome {
  position: fixed;
  left: 10px;
  background: #F2CFBB url(./imagenes/angle-left.png) no-repeat center center;
  background-size: 80% 100%;
  width: 35px;
  height: 30px;
  border: none;
  margin-top: 10px;
}

#pagSingIn {
  display: inline-grid;
  margin: 75px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

#pagSingIn label {
  position: relative;
  background-color: transparent;
  height: 30px;
}

#pagSingIn input {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  text-align: center;
  font-size: 20px;
}

#pagSingIn .passwordRec {
  position: absolute;
  border: none;
  right: 495px;
  margin-top: 280px;
}

#SignUp {
  border: none;
  position: absolute;
  border: none;
  right: 580px;
  margin-top: 425px;
}

#pagSingIn .buttonGoogle {
  margin-left: 15px;
  margin-bottom: 5px;
  background-color: transparent;
  width: 280px;
  border-left-width: 20px;
  height: 45px;
  cursor: pointer;
  border: #F58634 2px solid;
  border-radius: 20px;
  font-size: 15px;
}

#pagSingIn #Login {
  margin-left: 15px;
  background-color: #34a853b2;
  border: #34A853 2px solid;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 270px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  font-weight: bold;
}

#Login:hover {
  color: white;
}

#pagSingIn h3 {
  font-size: 18px;
}

#pagSingIn p {
  font-size: 18px;
  text-align: justify;
  margin-top: 10px;
}

#headerWall {
  position: fixed;
  background-color: #F2CFBB;
  display: block;
  top: 0;
  width: 100%;
  height: 70px;
}

#profile {
  position: fixed;
  left: 30px;
  background: #F2CFBB url(./imagenes/user.png) no-repeat center center;
  background-size: 90% 100%;
  width: 37px;
  height: 30px;
  border: none;
  margin-top: 20px;
}

#singOut {
  position: fixed;
  right: 30px;
  background: #F2CFBB url(./imagenes/exit.png) no-repeat center center;
  background-size: 90% 100%;
  width: 30px;
  height: 30px;
  border: none;
  margin-top: 20px;
}

#searchtwo {
  width: 250px;
  height: 40px;
  border-radius: 15px;
  text-align: center;
  margin-top: 15px;
}

#search {
  position: fixed;
  border: none;
  background: #F2CFBB url(./imagenes/search.png) no-repeat center center;
  background-size: 90% 100%;
  margin-top: 22px;
  right: 515px;
  width: 25px;
  height: 25px;
}

#pagWall {
  display: inline-grid;
  margin: 75px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

#pagWall #postUser {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border-radius: 15px;
  font-size: 20px;
  left: 3%;
}
#textAreaInitial{
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 20px;
  left: 1%;
}
#containerIconsPost{
  position:fixed;
}

#sendPost {
  position: absolute;
  border: none;
  right: 480px;
  margin-top: 10px;
  background: #34a853b2 url(./imagenes/send.png) no-repeat center center;
  background-size: 50% 50%;
  width: 30px;
  height: 30px;
}

#heartImg {
  background: white url(./imagenes/love.png) no-repeat center center;
  background-size: 80% 80%;
  width: 20px;
  height: 20px;
  border: none;
  margin: 2px;
  right: 400px;
}
#heartRed{
  background: white url(./imagenes/heart\ \(1\).png) no-repeat center center;
  background-size: 80% 80%;
  width: 20px;
  height: 20px;
  border: none;
  margin: 2px;
  right: 400px;
}

#trashImg {
  right: 30px;
  background: white url(./imagenes/trash.png) no-repeat center center;
  background-size: 80% 80%;
  width: 20px;
  height: 20px;
  border: none;
  margin: 2px;
  right: 440px;
}

#publicBtnEditPost{
  right: 30px;
  background: white url(./imagenes/edit.png) no-repeat center center;
  background-size: 80% 80%;
  width: 20px;
  height: 20px;
  border: none;
  margin: 2px;
  right: 480px;
  
}
#btnPublicpost{
  border: none;
  right: 480px;
  margin-top: 8px;
  background: #34a853b2 url(./imagenes/check.png) no-repeat center center;
  background-size: 50% 50%;
  width: 30px;
  height: 30px;
}

.postUser{
  width: 300px;
  height: 50px;
  margin-top: 3%;
  border-radius: 10px;
  font-family: 'Lato', sans-serif;
}
.icons{
  width: 20px;
  height: 20px;
  border: none;
  margin: 2px 5px;
  right: 400px;
}
.gridSectionviewPost{
  display: grid;
  grid-template-columns: 1fr;
}
.gridSectioncontainerPost{
  display: grid;
}
.containerPost{
  margin-bottom: 2em;
}
.hide{
  display:none;
}
.show{
display: block;
}
.rojo{
  background: white url(./imagenes/heart.png) no-repeat center center !important;
  background-size: 80% 80% !important;
}

.blanco{
  background: white url(./imagenes/love.png) no-repeat center center !important;
  background-size: 80% 80% !important;
}
 
@media only screen and (max-width : 600px) {
  #containerLogo {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 50px;
    padding-left: 15px;
    padding-top: 5px;
    font-size: 30px;
  }
}

